<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование заказа</title>
    <style>
        main h1, main h2 {
            color: black;
        }

        h1, h2 {
            color: black;

        }
    </style>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/dashboard}">Аналитика</a></li>
            <li><a th:href="@{/products}">Каталог товаров</a></li>
            <li><a th:href="@{/orders}">Заказы</a></li>
            <li><a th:href="@{/promotions}">Управление акциями и скидками</a></li>
            <li><a th:href="@{/userManagement}">Управление пользователями</a></li>
            <li><a th:href="@{/settings}">Настройки аккаунта</a></li>
            <li><a th:href="@{/login}">Выйти</a></li>
        </ul>
    </nav>
</header>
<h1>Edit Order</h1>
<form action="#" th:action="@{/orders/edit/{id}(id=${order.id})}" th:object="${order}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <select th:field="*{product}">
        <option th:each="product : ${products}" th:value="${product.id}" th:text="${product.name}"></option>
    </select>
    <input type="number" th:field="*{quantity}" placeholder="Quantity"/>
    <input type="submit" value="Update Order"/>
</form>
</body>
</html>
