<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
    <div>
        <h1>Система управления интернет-магазином</h1>
    </div>
    <nav>
        <ul>
            <li><a th:href="@{/login}">Войти</a></li>
        </ul>
    </nav>
</header>
<main>
    <h2>Добро пожаловать!</h2>
    <p>Наши ключевые показатели:</p>
    <ul class="stats">
        <li>Всего пользователей: <span th:text="${totalUsers}"></span></li>
        <li>Всего заказов: <span th:text="${totalOrders}"></span></li>
        <li>Общие продажи товаров: <span th:text="${totalSales}"></span></li>
        <li>Общая сумма продаж: <span th:text="${totalSoldAmount}+р."></span></li>
    </ul>
</main>
<footer>
    <div>
        © 2023 Паскальный Кролик
    </div>
</footer>
</body>
</html>
