<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <style>
        main h1, main h2 {
            color: black;
        }

        h1, h2 {
            color: black;
        }
    </style>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/dashboard}">Аналитика</a></li>
            <li><a th:href="@{/products}">Каталог товаров</a></li>
            <li><a th:href="@{/orders}">Заказы</a></li>
            <li><a th:href="@{/promotions}">Управление акциями и скидками</a></li>
            <li><a th:href="@{/userManagement}">Управление пользователями</a></li>
            <li><a th:href="@{/settings}">Настройки аккаунта</a></li>
            <li><a th:href="@{/login}">Выйти</a></li>
        </ul>
    </nav>
</header>
<main>
    <section>
        <h2>Фильтрация</h2>
        <form th:action="@{/orders}" method="get">
            <label for="status">Статус:</label>
            <select id="status" name="status">
                <option value="">Все</option>
                <option value="На рассмотрении">На рассмотрении</option>
                <option value="Отправлен">Отправлен</option>
                <option value="Завершен">Завершен</option>
            </select>
            <button type="submit">Применить</button>
        </form>
    </section>

    <section>
        <h2>Список заказов</h2>
        <table>
            <tbody>
            <tr th:each="order, stat : ${orders}">
                <td th:text="${stat.count}"></td>
                <td th:text="${order.orderDate}"></td>
                <td th:text="${order.user.name}"></td>
                <td th:text="${order.getTotalAmount()}"></td>
                <td>
                    <div th:each="item : ${order.orderItems}">
                        <p th:text="${item.product.name + ' x ' + item.quantity}"></p>
                    </div>
                </td>
                <td th:text="${order.status}"></td>
                <td>
                    <form th:action="@{/orders/update/{id}(id=${order.id})}" method="post">
                        <select name="status" required>
                            <option value="На
                                рассмотрении" th:selected="${order.status == 'На рассмотрении'}">На
                                рассмотрении
                            </option>
                            <option value="Отправлен" th:selected="${order.status == 'Отправлен'}">Отправлен</option>
                            <option value="Завершен" th:selected="${order.status == 'Завершен'}">Завершен</option>
                        </select>
                        <button type="submit">Обновить статус</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
</body>
</html>