<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Каталог товаров</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <style>
        .product-form-container {
            margin: 0 auto;
            padding: 20px;
            max-width: 800px;
            display: flex;
            justify-content: space-between;
        }

        .product-form, .category-form {
            width: 48%;
            padding: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }
    </style>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/dashboard}">Аналитика</a></li>
            <li><a th:href="@{/products}">Каталог товаров</a></li>
            <li><a th:href="@{/orders}">Заказы</a></li>
            <li><a th:href="@{/promotions}">Управление акциями и скидками</a></li>
            <li><a th:href="@{/userManagement}">Управление пользователями</a></li>
            <li><a th:href="@{/settings}">Настройки аккаунта</a></li>
            <li><a th:href="@{/login}">Выйти</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1>Каталог товаров</h1>
    <div th:if="${alert}" th:text="${alert}" style="color: red;"></div>
    <section>
        <h2>Фильтры и сортировка</h2>
        <form th:action="@{/products}" method="get">
            <label for="category">Категория:</label>
            <select id="category" name="category">
                <option value="">Все</option>
                <option th:each="category : ${categories}" th:value="${category.name}"
                        th:text="${category.name}"></option>
            </select>

            <label for="sort">Сортировать по:</label>
            <select id="sort" name="sort">
                <option value="price">Цена</option>
                <option value="popularity">Популярность</option>
            </select>

            <button type="submit">Применить</button>
        </form>
    </section>

    <section>
        <h2>Список товаров</h2>
        <table>
            <thead>
            <tr>
                <th>Название</th>
                <th>Цена</th>
                <th>Описание</th>
                <th>Количество</th>
                <th>Продажи</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}+р."></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.stock}"></td>
                <td th:text="${product.sales}"></td>
                <td>
                    <form th:action="@{/products/{id}/incrementStock(id=${product.id})}" method="post">
                        <input type="number" name="incrementAmount" min="1" required>
                        <button type="submit">+</button>
                    </form>
                    <form th:action="@{/products/{id}/decrementStock(id=${product.id})}" method="post">
                        <input type="number" name="decrementAmount" min="1" required>
                        <button type="submit">-</button>
                    </form>
                    <form th:action="@{/products/{id}/delete(id=${product.id})}" method="post">
                        <button type="submit">Удалить</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </section>

    <section>
        <div class="product-form-container">
            <div class="product-form">
                <h2>Добавить товар</h2>
                <form th:action="@{/products}" th:object="${product}" method="post">
                    <label for="name">Название:</label>
                    <input type="text" id="name" name="name" th:field="*{name}" required>

                    <label for="price">Цена:</label>
                    <input type="number" id="price" name="price" min="1" th:field="*{price}" required>

                    <label for="description">Описание:</label>
                    <textarea id="description" name="description" th:field="*{description}" required></textarea>

                    <label for="category">Категория:</label>
                    <select id="category" name="category" th:field="*{category}">
                        <option value="">Все</option>
                        <option th:each="category : ${categories}" th:value="${category.name}"
                                th:text="${category.name}"></option>
                    </select>

                    <label for="stock">Количество:</label>
                    <input type="number" id="stock" name="stock" min="1" th:field="*{stock}" required>

                    <button type="submit">Добавить</button>
                </form>
            </div>
            <div class="category-form">
                <h2>Добавить категорию</h2>
                <form th:action="@{/products/categories}" th:object="${category}" method="post">
                    <label for="name">Название:</label>
                    <input type="text" id="name" name="name" th:field="*{name}" required>
                    <button type="submit">Добавить</button>
                </form>
            </div>
        </div>
    </section>
</main>
</body>
</html>
