<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Настройки</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/dashboard}">Аналитика</a></li>
            <li><a th:href="@{/products}">Каталог товаров</a></li>
            <li><a th:href="@{/orders}">Заказы</a></li>
            <li><a th:href="@{/promotions}">Управление акциями и скидками</a></li>
            <li><a th:href="@{/user-management}">Управление пользователями</a></li>
            <li><a th:href="@{/settings}">Настройки аккаунта</a></li>
            <li><a th:href="@{/login}">Выйти</a></li>
        </ul>
    </nav>
</header>
<div class="form-container">
    <h1>Настройки</h1>
    <form th:action="@{/settings}" th:object="${user}" method="post">
        <label>Имя: <input type="text" th:field="*{name}"/></label>
        <label>Email: <input type="text" th:field="*{mail}"/></label>
        <label>Логин: <input type="text" th:field="*{login}"/></label>
        <label>Роль: <input type="text" th:field="*{role}" readonly/></label>
        <label>Статус: <input type="text" th:field="*{status}" readonly/></label>
        <button type="submit">Обновить</button>
    </form>
</div>

</body>
</html>
